#quote_img {
    border: 1px solid gray;
    padding: 2px;
    height: 100px !important;
}
#about_img{
    border: 1px solid gray;
    padding: 2px;
    height: 200px !important;
}
#work_img{
    border: 1px solid gray;
    padding: 2px;
    height: 200px !important;
}