html {
    font-family: sans-serif;
}



form ol {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

form li,
div > .text_para {
    background: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid gray;
    width: fit-content;
}

form .gal_img {
    height: 100px;
    order: 1;
}

form .text_para {
    line-height: 32px;
    padding-left: 10px;
}


